
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
/*Estilo para nosso cabeçalho*/
header{
    background-color: #333;
    padding: 20px;
    color: white;
}
header h1{
    text-align: center;
    font-size: 36px;
}
header nav ul{
    
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px;
}
header nav li{
    margin: 15px;
}
header nav li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
header nav li a:hover{
    text-decoration: underline;
    color: bisque;
}

.banner{
    background: url('img/banner02.png') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h2{
    font-size: 48px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.banner p{
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.banner a{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.banner .btn{
    background-color: #ff6347;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.foot_direitos{
    text-align: left;

    }
    .experiencia{
        background-color: white;
        color: black;
    }
    .experiencia h2{
        text-align: center;
        font-size: 36px;
    }
    .card-grid{
        display: flex;
        justify-content: center;
    }
    .card{
        background-color: bisque;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 300px;
        box-shadow: #333;
    }
    .card img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-content{
        padding: 20px;
    }
    .card h3{
        font-size: 24px;
        margin: 10px;
        color: #333;
    }
    .card p{
        font-size: 16px;
        color: #666;
    }
    .card :hover{
        transform: scale(1.10);
    }
    .container{
        width: 100%;
        margin: 0 auto;
        background-color: bisque;
    }

    footer{
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
        margin-top: 50px;
    }
    .modal-content{
        background-color:bisque;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
    }
    .modal form label{
        margin: 10px;
        font-size: 16px;

    }
    .modal form input{
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .modal form .btn {
        background-color: #ff6347;
        color: white;
        filter: blur(2);
        border-radius: 5px ;
        padding: .5rem;
        cursor: pointer;
        margin-top: 20px;
    
    }
    .modal form .btn:hover{
        transform: translateY(-5px);
        background-color: blue;

    }
    .modal form{
        display: flex;
        flex-direction: column;
    }
    .modal{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.7);
        position: fixed;
        z-index: 1;
        top: 0;
    }
    .close-btn{
        color: #333;
        float: right;
        font-size: 28px;
        cursor: pointer;
    }
    .close-btn:hover{
        color: red;
    }